/* менюшка */
.navbar {
  background-color: #202020;
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  /* border-radius: 10%; */
  /* background-color: #f4f4f4; */
  color: red;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

/* header */

.header {
  background-image: url('../images/background__header.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
